.input,
.label,
.message {
  display: block;
  width: 100%;
  padding: 0.5em;
  font-size: 1em;
}

.label {
  background: #666;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.input {
  margin-bottom: 0.5em;
}

.message {
  margin-bottom: 0.5em;
  font-family: Lato, Helvetica, sans-serif;
}

.form {
  max-width: 600px;
  margin: 0 auto 5em auto;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.submit {
  padding: 0.5em;
  font-size: 1.2em;
  background: hsl(260, 70%, 50%);
  border: none;
}

.hpot {
  display: none;
}
