.foot {
  display: flex;
  color: white;
  background: #333;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2em;
}

.foot p {
  padding: 0;
}

.foot .simpleLink {
  font-family: Lato, Helvetica, sans-serif;
  text-decoration: underline;
  text-transform: inherit;
  font-size: inherit;
  padding: 0;
  letter-spacing: inherit;
  background: none;
}
