.social {
  background: #ccc;
  display: flex;
  justify-content: center;
  margin-top: 5em;
  padding: 1em;
}

.icon {
  color: white;
  font-size: 2em;
  transition: color 200ms ease-in-out;
}

.icon:hover {
  color: hsl(260, 70%, 50%);
}

.foot {
  display: flex;
  color: white;
  background: #333;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2em;
}

.foot p {
  padding: 0;
}

.nav {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.nav a {
  color: white;
  transition: background-color 200ms ease-in-out;
}

.nav a:hover {
  background: #666;
}
