.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #333;
}

@media screen and (min-width: 800px) {
  .header {
    flex-wrap: nowrap;
  }
}

.heading {
  letter-spacing: 0.1em;
  white-space: nowrap;
  flex: 1;
  padding: 0.5em;
  text-align: left;
}

.menuButton {
  padding: 0.5em;
  border: none;
  outline: none;
}

.menuButton:hover svg {
  color: #777;
}

@media screen and (min-width: 800px) {
  .menuButton {
    display: none;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: calc(100vh - 4em);
  transform: translateX(0);
  transition: height 300ms ease-in-out, opacity 300ms ease-in-out,
    transform 200ms ease-in-out 100ms;
}

.hide {
  height: 0;
  opacity: 0;
  transform: translateX(-150%);
  transition: height 300ms ease-in-out 100ms, opacity 200ms ease-in-out 100ms,
    transform 200ms ease-in-out;
}

@media screen and (min-width: 800px) {
  .nav {
    flex-direction: row;
    background: #333;
    height: 2em;
    align-self: center;
  }
}

.nav a {
  display: flex;
  align-items: center;
  color: white;
  padding-left: 10vw;
  flex: 1;
  text-transform: uppercase;
}

@media screen and (min-width: 800px) {
  .nav a {
    padding: 0;
    justify-content: center;
  }
}

.nav a:hover {
  background: rgba(100, 100, 100, 0.8);
}
