.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
  font-size: 1.2em;
}

.heading {
  white-space: nowrap;
  text-align: left;
  margin: 1em 0.5em;
}

.menuButton {
  background: white;
  margin: 0 0.5em;
  align-self: center;
  cursor: pointer;
}

.menuButton:hover svg {
  color: hsl(260, 70%, 50%);
}

.nav {
  background: #333;
  position: absolute;
  top: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  transform-origin: 0 0;
  transform: scaleY(0);
  transition: transform 200ms ease-in-out;
  z-index: 999;
}

.nav a {
  display: flex;
  flex: 1;
  justify-content: center;
  font-size: 1.5em;
  padding: 1em;
  color: white;
  transition: background-color 200ms ease-in-out;
}

.nav a:hover {
  background: hsl(260, 70%, 50%);
}

@media screen and (min-width: 700px) {
  .nav {
    position: static;
    flex-direction: row;
    align-self: center;
    transform: scaleY(1);
  }

  .nav a {
    padding: 0.5em 0;
    font-size: 1em;
  }

  .header {
    flex-wrap: nowrap;
  }

  .menuButton {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .show {
    transform: scaleY(1);
  }
}

.active {
  background: hsl(260, 70%, 50%);
}
