/* Hero */

.hero {
  display: flex;
  flex-direction: column;
  background: #000;
}
.heroImg {
  display: flex;
  min-width: 50%;
  max-height: 300px;
  margin: 2em 2em 0 2em;
}

.heroInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 2em;
}

.caption {
  font-family: 'Squada One', Helvetica, sans-serif;
}

.subCaption {
  font-size: 1.2em;
  color: rgba(255, 255, 255, 0.5);
  padding-bottom: 1em;
}

.link {
  color: #333;
  background: #fff;
  width: 70%;
  max-width: 250px;
  padding: 0.5em;
}

@media screen and (min-width: 600px) {
  .hero {
    flex-direction: row;
  }
  .heroImg {
    max-height: 400px;
  }
  .heroInfo {
    flex: 1 1 40%;
    margin: auto;
  }
}
/* Main */
.article {
  display: flex;
  flex-direction: column;
  padding-bottom: 2em;
}

.article > * {
  flex: 1 1 50%;
  margin-bottom: 1em;
}

@media screen and (min-width: 800px) {
  .article {
    flex-direction: row;
  }
  .imgOdd {
    order: 2;
  }

  .article img {
    padding-right: 2em;
  }

  .imgOdd img {
    padding-right: 0;
    padding-left: 2em;
  }
}

.quotes {
  display: flex;
  flex-wrap: wrap;
  color: white;
  justify-content: space-around;
  align-items: center;
  padding: 3em 0;
  background: #333;
  margin-bottom: 3em;
  text-align: center;
}

.quotes > div {
  padding: 1em;
}
