.heroImg {
  max-height: 300px;
}

.heroImg img {
  background: #000;
}

.heroInfo {
  background: #000;
  text-align: center;

  display: flex;
  flex-direction: column;
  color: white;
}

.caption {
  font-family: 'Squada One', Helvetica, sans-serif;
}

.subCaption {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.2em;
  font-weight: 300;
}
