.text {
  text-align: center;
  max-width: 600px;
  margin: auto;
  padding-bottom: 4em;
}

.text p:last-of-type {
  padding-bottom: 2em;
}

.link {
  padding: 0.5em 3em;
}

.gallery div {
  box-shadow: 0.5em 0.3em 1em 0 rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 600px) {
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .tall {
    flex: 1 1 50%;
  }

  .wide {
    flex: 1 1 100%;
  }
}

@media screen and (min-width: 800px) {
  .tall {
    flex: 1 1 33%;
  }
  .wide {
    flex: 1 1 50%;
  }
}

@supports (display: grid) {
  .gallery {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: 1fr;
    grid-gap: 1em;
  }
  @media screen and (min-width: 600px) {
    .gallery {
      grid-template-rows: repeat(3, auto);
      grid-template-columns: repeat(2, 1fr);
    }

    .wide {
      grid-column: span 2;
    }
  }

  @media screen and (min-width: 800px) {
    .gallery {
      grid-template-rows: repeat(2, auto);
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 1em;
    }

    .tall {
      grid-column: span 2;
    }

    .wide {
      grid-column: span 4;
    }
  }
}
