h2 {
  margin-top: 2rem;
}

.flex {
  display: flex;
  flex-direction: column;
}

.button {
  background: hsl(260, 70%, 50%);
  color: #fff;
  padding: 0.5em 2em;
}

@media screen and (min-width: 800px) {
  .flex {
    flex-direction: row;
  }

  .img {
    order: 2;
    flex: 1 0 40%;
  }

  .articles {
    padding-right: 2em;
  }
}
